@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i');
body,html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility
}
:root {
    font-size: 16px
}

body {
    font-size: 1rem;
    background: #eee;
    color: #637282!important;
    overflow-x: hidden;
    font-weight: 400;
    letter-spacing: -.3px;
    line-height: 1.5
}
body,button,input,select,textarea {
    font-family: 'Karla',sans-serif
}

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: 'Rubik', sans-serif;
  color: #1b2733;
  font-weight: 600;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 2.488em;
}

h2 {font-size: 2.074em;}

h3 {font-size: 1.728em;}

h4 {font-size: 1.44em;
  color: #313639;
}

h5, p.subtitle {font-size: 1.2em;}

small, .text_small {font-size: 0.833em;}
button.btn-link{

  color: #363636;
  cursor: pointer;
  text-decoration: none;
  transition: .3;
}
button.btn-link:hover{
  color: #363636;
  text-decoration: underline;
  opacity: .9;
}
.text-white{
  color: #fff;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    z-index: 9999;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/*
 * Content
 */

[role="main"], .main {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"], .main {
    padding-top: 100px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;


}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.footer-style{
    background-color: #fff;
}
.overline{
  border-top: 1px solid #fff;
}

.masthead {
    padding: 1.5rem;
    background:#F7F7F7

}

.masthead a {
    color: #6a6a6a
}

.masthead a:hover {
    color: #3a3a3a
}

.masthead-title {
    margin-top: 0;
    margin-bottom: .75rem;
    font-size: 2.5rem;
    line-height: 1
}

.masthead-title a {
  color: var(--peach);
  transition: color .5s;
}

.masthead-lead {
    margin-bottom: .75rem;
    font-weight: 300;
    font-size: 1rem;
    color: #8a8a8a
}

.masthead-lead a {
    font-weight: normal
}

.masthead-nav {
    list-style: none;
    padding-left: 0;
    margin-bottom: .75rem;
    font-size: .75rem
}

.nav-item {
    display: block
}

.nav-link {
    line-height: 1.6
}

.nav-link-active {
    font-weight: 500;
    color: #3a3a3a
}

.masthead-hr {
    width: 130px;
    margin: 1rem 0;
    border-top-color: #eee;
    border-bottom: 0
}

@media (min-width: 768px) {
    .masthead {
        position:absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 35%;
        max-width: 380px;
        padding: 3rem 2rem
    }
}

@media (min-width: 768px) and (min-height: 700px) {
    .masthead {
        position:fixed
    }
}

@media (min-width: 1170px) {
    .masthead {
        width:25%
    }
}

main {
    max-width: 900px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem;
}

.entry,.page,.list {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

@media (min-width: 768px) {
    main {
        margin-left:35%;
        width: 65%;
        padding-left: 0
    }

    .entry,.page,.list {
        margin-top: 3rem;
        margin-bottom: 3rem
    }
}

@media (min-width: 1170px) {
    main {
        width:70%;
        margin-left: 27.5%;
        margin-right: 2.5%
    }
}
.tinted-image {

  width: 100%;
  height: 100%;

  background:
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.8)
    )

}
